doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='fb:app_id', content='1653824821565450')
    title #{title} 
    meta(name='description', content='Source code generated using layoutit.com')
    meta(name='author', content="#{user}")
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
    link(rel='canonical', href="#{url}")
    meta(name='description', content="#{description}")
    meta(property='og:type', content='website')
    meta(property='og:url', content="#{url}")
    meta(property='og:title', content="#{title}")
    meta(property='og:description', content="#{IDecription}")
    meta(property='og:image', content="#{imageLink}")
    meta(property='og:image:type', content='image/jpeg')
    meta(property='og:image:width', content='720')
    meta(property='og:image:height', content='378')
    
    
  body
    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '1653824821565450',
      xfbml      : true,
      version    : 'v2.5'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Brand
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Link
                li
                  a(href='#') Link
              
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#') Link
                li.dropdown
                  
      .row
        br
        br
        br
        br
        br
        br
        .col-md-2
        .col-md-8
          .row
            .col-md-12
              block content
          .row
            .col-md-12
              block comment
        .col-md-2
          .row
            .col-md-12
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/scripts.js')
